body {
	font-family: sans-serif;
	background-color: #f0f0f0;
}
.container {
	max-width: 400px;
	margin: 0 auto;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
h1 {
	text-align: center;
	margin-top: 0;
}
p {
	margin: 10px 0;
}
button {
	margin-top: 10px;
}
input[type="text"] {
	margin-top: 10px;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 18px;
}
